#about-home-button{
    background-color: #D50032;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 1rem;
}

.about-h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about-ul{
    list-style-type: disc;
    margin-left: 2rem;
}

.about-a{
    color: #D50032;
    text-decoration: underline;
    cursor: pointer;
}
